.container　mt-5[style="margin-bottom:500px;"]
  .row.mt-5
    .col-md-4.mt-5
      = render "public/products/genre", gernres: @genres
    .col-md-8.offset-md-0.col-9.offset-2.mt-5
      .d-md-flex[style="margin-bottom:200px;"]
        .mr-md-5
          = attachment_image_tag @product,:image ,fallback: "no_image.png", class: "product_img"
        #product_text.mt-5.mt-md-0
          h3
            = @product.name
          p.mt-2
            = @product.explanation
          h4.d-inline-block[style="margin-top:40px;"]
            - @product_price = @product.tax_out_price * 1.1
            |  ￥
            = @product_price.floor.to_s(:delimited)
          p.d-inline-block
            | （税込）
          - if member_signed_in?
            .form-group
              =  form_with url: public_cart_products_path,method: :post, local: true do |f|
                = f.select :quantity,[["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"], ["7","7"],["8","8"],["9","9"],["10","10"]],include_blank: "個数選択",class: 'form-select'
                = f.hidden_field :product_id, :value => @product.id
                = f.hidden_field :member_id, :value => current_member.id
            button.btn.btn-info.mt-5.d-block
              | カートに入れる 
              - f.submit
          - else
            = link_to "ログインしてからカートへ", new_member_session_path, class: "btn btn-success mr-5"
