<div class="container　mt-5">
  <div class="row mt-5">
    <div class="col-3 mt-5">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">ジャンル検索</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="col-9 mt-5">
      <div class="text-center">
        <p>ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-2">
      <h1 class="text-center">新着商品</h1>
    </div>
  </div>
</div>