.container
  .row
    p#notice
    h4
      | 注文履歴詳細
    table
      |  　
    .form-grop
      label[for="order-name"]
        | 購入者
      = @order.member.last_name
      = @order.member.first_name
    .form-grop
      label[for="order-datetime"]
        | 注文日
      = @order.created_at
    .form-grop
      label[for="order-address"]
        | 配送先
      = @order.postal_code
      = @order.address
      = @order.name
    .form-grop
      label[for="order-pay"]
        | 支払方法
      = @order.payment_method
    .form-grop
      label[for="order-status"]
        | 注文ステータス
      = select :status,:name,Order.statuses.keys.to_a
      = select :status,:name,Order.statuses.values.to_a
      = link_to "更新", class: "btn btn-success"
    thead
      tr
        th
          | 商品名
        th
          | 単価(税込)
        th
          | 数量
        th
          | 小計
        th
          | 制作ステータス
    tbody
      tr
        - @orders.each do |order|
          td
            = order.order_product.product.name
          td
            - @product_price = order_product.tax_out_price * 1.1
            = @product_price.floor.to_s(:delimited)
          td
            = order.order_products.quantity
          td
            = order.production_status
          td
            = select :production_status,:name,OrderProduct.statuses.keys.to_a
            = select :production_status,:name,OrderProduct.statuses.values.to_a
            = link_to "更新", class: "btn btn-success"
    table

    .form-grop
      = f.label :"商品合計"
      - @total = @product_price * cart.quantity.to_i
      |  ￥
      = @total.floor.to_s(:delimited)
      - @sum += @total
    .form-grop
      = f.label :"送料"
      = @order.shipping_price
      |  円 
    .form-grop
      = f.label :"請求金額合計"
      = @order.total_payment + @order.shipping_price
      | 円 
