.container
  .row
    .col-md-5
      .col-sm-6
        h5.mt-4
          | ジャンル一覧・追加
      = form_with model: @genre,url:'/admin/genres', local:true do |f|
        .form-grop.mt-4
          label[for="ganre-name"]
            | ジャンル名
          = f.text_field :genre_name
          = f.submit '新規登録',class: "btn btn-success"
      table.table.table-hover.table-inverse.mt-4
        thead
          tr
            th
              | ジャンル
            th
        tbody
          - @genres.each do |genre|
            tr
              td
                = genre.genre_name
              td
                = link_to "編集する",edit_admin_genre_path(genre.id),class: "btn btn-success"
