<div class = "container">
  <h2 class= "head-line title_h2 text-dark p-1 m-5 rounded-lg border border-dark">注文履歴詳細</h2>
  <div class = "row">
    <% if @order.present? %>
    
    <% end %>
  </div>
</div>