// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.aiueo{
  display:flex;
  justify-content:center;
  margin-top:100px;

  .aiu h2{
    font-size:50px;

    .eo h4{
      font-size:18px;
    }
  }
}