header
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
      .nav.navbar-nav.navbar-left
        - if admin_signed_in?
          - # 管理者がログインした時　
          = link_to "Osaka Cake", admin_orders_path, class: "btn btn-outline-dark btn-lg navbar-brand"
        - else
          |  　 
          - # 顧客顧客がログインした時　
          |  　 
          = link_to"Osaka Cake",  public_root_path, class: "btn btn-outline-dark btn-lg navbar-brand"
      button.navbar-toggler.navbar-dark[type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"]
        span.navbar-toggler-icon
      #navbarNavDropdown.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          - if member_signed_in?
            li.nav-item
              = link_to "My page", public_member_path(current_member), class: "btn  btn-outline-dark mr-5"
            li
              = link_to "Product", public_products_path, class: "btn  btn-outline-dark mr-5"
            li
              = link_to "Cart", public_cart_products_path, class: "btn  btn-outline-dark mr-5"
            li
              = link_to "Log out", destroy_member_session_path, method: :delete, class: "btn  btn-outline-dark mr-5"
          - elsif admin_signed_in?
            li
              = link_to "Product", admin_products_path, class: "btn btn-outline-dark mr-5"
            li
              = link_to "Member", admin_members_path, class: "btn btn-outline-dark mr-5"
            li
              = link_to "Order", admin_orders_path, class: "btn btn-outline-dark mr-5"
            li
              = link_to "Genre", admin_genres_path, class: "btn btn-outline-dark mr-5"
            li
              = link_to "Log out", destroy_admin_session_path, method: :delete, class: "btn btn-outline-dark mr-5"
          - else
            li
              = link_to "About",  public_homes_about_path, class: "btn btn-outline-dark mr-5"
            li
              = link_to "Product",  public_products_path, class: "btn btn-outline-dark mr-5"
            li
              = link_to "Sign in", new_member_registration_path, class: "btn btn-outline-dark mr-5"
            li
              = link_to "Log in", new_member_session_path, class: "btn btn-outline-dark mr-5"
